body {
    text-align: center;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#button1 {
    display: none;
}

@keyframes deathAnim {
    0% {background-color: red;}
    100% {background-color: rgba(0, 0, 0, 0);}
}

@keyframes aliveAnim {
    0% {background-color: green;}
    100% {background-color: rgba(0, 0, 0, 0);}
}


.rubik {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }

body {
    color: white;
}

  
